*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #333;
}

.view-home {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(https://cn.bing.com/th?id=OHR.ChandraTal_ZH-CN2809744505_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp);

    &.bg-light {
        .masking {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    &.bg-dark {
        color: white;
        a {
            color: lightblue;
        }
        .masking {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .logo {
        text-align: center;
        img {
            height: 2rem;
        }
        img + img {
            margin-left: 2rem;
        }
    }

    main {
        max-width: 50rem;
        margin: 1rem auto;
        padding: 1rem;
    }

    footer {
        text-align: center;
        position: absolute;
        bottom: 0rem;
        width: 100%;
    }
}